* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
    padding: 20px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: white;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
}

#totals {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 16px;
}

#totals h3,
#totals strong {
    color: #535353;
    margin: 1px 0;
}

#totals p {
    margin: 1px 0;
    font-weight: normal;
}

.metrics-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input-section,
.add-transaction {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

input[type="number"],
input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.url-box {
    cursor: pointer;
    margin: 3px 0px;
    width: fit-content;
}

.url-box:hover {
    text-decoration: underline;
}

.donation-section{
    background: #fff4e1;
    padding: 10px;
}

button:hover {
    background-color: #218838;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ececec;
    padding: 4px;
}

th {
    background-color: #003c7c;
    color: white;
    font-size: 14px;
    text-align: left;
}

tfoot td {
    font-weight: bold;
    background-color: #f8f9fa;
}

.delete-td {
    text-align: center;
}

/* Media Queries */
@media (max-width: 800px) {
    #dcaTable th {
        padding: 5px;
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 1px;
        width: 100%;
    }

    .input-section,
    .add-transaction {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    #dateInput,
    #usdInput,
    #buyPriceInput,
    #quantityInput,
    input,
    button {
        width: 100%;
    }

    #dcaTable {
        font-size: 12px;
    }

    #dcaTable th,
    #dcaTable td {
        padding: 5px;
    }

    #dcaTable th {
        font-size: 10px;
    }

    .delete-btn {
        font-size: 10px;
    }

    #logo img {
        max-width: 120px;
    }
}

@media (max-width: 450px) {
    #totals {
        font-size: 12px;
    }

    #logo img {
        max-width: 100px;
    }
}